---
import { getCollection } from "astro:content";
import dayjs from "~/lib/dayjs";

import LuArrowRight from "~/assets/icons/LuArrowRight.svg";
import { Image } from "astro:assets";

const pastEvents = await getCollection("events", (i) => i.data.concluded).then(
  (items) =>
    items.sort((a, b) =>
      dayjs(a.data.startDate).isAfter(dayjs(b.data.startDate)) ? -1 : 1,
    ),
);
---

<section>
  <div class="mx-auto max-w-7xl p-8 text-center">
    <h2 class="font-satoshi text-2xl font-bold sm:text-3xl">Past events</h2>

    <div class="mt-6 space-y-4">
      {
        pastEvents.map((event) => (
          <a
            href={`/events/${event.id}`}
            class="group flex overflow-clip rounded-xl border border-neutral-300 bg-white text-left shadow-sm transition hover:bg-neutral-100 max-md:flex-col"
          >
            <div class="w-full overflow-clip max-md:h-48 md:w-64 md:contain-size lg:w-80 xl:w-96">
              <Image
                src={
                  (
                    event.data as (typeof event)["data"] & {
                      concluded: true;
                    }
                  ).images[0].src
                }
                alt=""
                class="size-full object-cover transition duration-500 group-hover:scale-110"
              />
            </div>
            <div class="min-w-0 flex-1 p-6">
              <h3 class="text-lg font-semibold">{event.data.title}</h3>
              <p class="mt-2 line-clamp-2 leading-normal text-neutral-800 sm:text-lg">
                {event.data.description}
              </p>
              <p class="mt-2 text-sm text-neutral-600 sm:text-base">
                {dayjs(event.data.startDate).format("MMMM YYYY")}
                {!!event.data.with && (
                  <>
                    <>
                      <span class="mx-0.5">&middot;</span>
                      <span>with {event.data.with}</span>
                    </>
                  </>
                )}
              </p>
              <p class="mt-2 flex w-fit items-center gap-2 font-semibold text-amber-800 underline-offset-2 transition group-hover:text-amber-900 group-hover:underline">
                <span>Read more</span>
                <LuArrowRight
                  class="size-3 transition-transform group-hover:translate-x-0.5 sm:size-4"
                  stroke-width={3}
                />
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>
