@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
  --font-satoshi: var(--font-satoshi);

  --animate-blink: blink 1.5s step-start infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@layer base {
  html {
    @apply scroll-smooth bg-neutral-50;
  }
  body,
  .font-sans {
    /* ss01: single-storey 'g' */
    /* ss06: single-storey 'a' */
    font-feature-settings: "ss01";
  }
  .font-satoshi {
    /* ss01: single-storey 'a' */
    /* ss03: 't' with tail */
    font-feature-settings: "ss03";
  }

  body > * {
    /* set per-element, because letter-spacing uses em units */
    @apply tracking-tight;
  }
}

/* instead of HeaderBackground, you can use this class */
@utility bg-dots {
  background-image: url("/patterns/dots.svg");
  background-position: center;
}

@utility bg-footer-dots {
  background-image: radial-gradient(
    rgb(255 255 255 / 0.02) 2px,
    transparent 0px
  );
  background-size: 24px 24px;
  background-position: center;
}
