<section>
  <div class="mx-auto max-w-7xl p-8 text-center">
    <div
      class="mx-auto max-w-3xl leading-normal text-neutral-800 sm:text-lg lg:text-xl"
    >
      <p class="text-pretty">
        We're not just hackers. We're artists, coders, designers, engineers,
        musicians, gamers, and more. But we're more than that. <strong
          class="font-semibold">We are makers.</strong
        >
        We're the doers, the believers, the achievers. We dream the future, and then
        make it happen.
      </p>
      <p class="mt-3 text-pretty">
        At Youthacks, we empower young people with a space to ideate, experiment
        and challenge boundaries. We give them opportunities to meet other
        passionate young people and make lifelong friends, all while creating
        something they're proud of.
      </p>
      <p class="mt-3 text-pretty">All they need is an open mind.</p>
    </div>
    <p class="font-cursive mt-4 -rotate-1 text-xs text-neutral-500 sm:text-sm">
      - Matthew, David, & the Youthacks team
    </p>
  </div>
</section>
