---
import Layout from "../layouts/Layout.astro";

import Navbar from "~/components/navbar/Navbar.svelte";
import Footer from "~/components/Footer.astro";

import Mission from "~/components/about/Mission.astro";

import Hero from "~/components/about/Hero.astro";
import People from "~/components/about/People.astro";
---

<Layout pageTitle="About">
  <Navbar client:load />
  <Hero />

  <div class="divide-y divide-neutral-300 *:even:bg-neutral-50">
    <Mission />
    <People />
  </div>
  <Footer />
</Layout>
