---
import Layout from "../layouts/Layout.astro";
import HeroBackground from "~/components/hero/Background.svelte";

import SupportDoodle from "~/assets/scribbles/support-us-support.svg";
import UsDoodle from "~/assets/scribbles/support-us-us.svg";

import Navbar from "~/components/navbar/Navbar.svelte";
import Footer from "~/components/Footer.astro";

import Volunteer from "~/components/donate/Volunteer.astro";
import Donate_ from "~/components/donate/Donate.astro";
import Partners from "~/components/home/Partners.astro";
---

<Layout pageTitle="Support us">
  <Navbar client:load />

  <div class="relative isolate bg-cyan-200 pt-20">
    <HeroBackground color="cyan" client:idle />
    <div class="mx-auto max-w-7xl px-8 py-16 text-center">
      <h1 class="font-satoshi text-5xl font-black tracking-tighter sm:text-6xl">
        <span class="relative isolate"
          >Support<SupportDoodle
            class="absolute inset-x-0 -bottom-2 -z-10 h-auto w-full translate-x-0.5"
          /></span
        >
        <span class="relative isolate">
          us
          <UsDoodle class="absolute top-4 -right-3 -z-10 h-auto w-3" />
        </span>
      </h1>
    </div>
  </div>

  <div class="divide-y divide-neutral-300 *:even:bg-neutral-50">
    <Volunteer />
    <Donate_ />
    <Partners />
  </div>
  <Footer />
</Layout>
