---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import TitleDoodle from "~/assets/scribbles/events-events.svg";
import LuArrowRight from "~/assets/icons/LuArrowRight.svg";

import coolAsHack from "~/assets/images/coolashack/image-2.jpg";
import scrapyardLon from "~/assets/images/scrapyard-lon/image-1.jpg";

import Footer from "~/components/Footer.astro";
import Header from "~/components/header/Header.astro";
import EventCard from "~/components/events/EventCard.astro";
import { getCollection } from "astro:content";
import dayjs from "~/lib/dayjs";
import Empty from "~/components/events/Empty.astro";

const events = await getCollection("events").then((items) =>
  items.sort((a, b) =>
    dayjs(a.data.startDate).isAfter(dayjs(b.data.startDate)) ? -1 : 1,
  ),
);

const upcomingEvents = events.filter(
  (item) => !dayjs(item.data.startDate).isBefore(dayjs()),
);
const pastEvents = events.filter((item) =>
  dayjs(item.data.startDate).isBefore(dayjs()),
);
---

<Layout pageTitle="Events">
  <Header color="amber">
    <h1 class="font-satoshi text-5xl font-black tracking-tighter sm:text-6xl">
      <span class="relative isolate">
        Events
        <TitleDoodle
          class="absolute inset-x-0 bottom-0 -z-10 h-auto w-full translate-x-0.5"
        />
      </span>
    </h1>
  </Header>
  <div class="mx-auto max-w-7xl space-y-12 p-8">
    <div class="space-y-6">
      {upcomingEvents.map((event) => <EventCard item={event} />)}
      {upcomingEvents.length === 0 && <Empty color="amber" />}
    </div>
    <div>
      <h2 class="font-satoshi text-center text-2xl font-bold sm:text-3xl">
        Past events
      </h2>
      <div class="mt-6 space-y-6">
        {pastEvents.map((event) => <EventCard item={event} />)}
      </div>
      {
        /* <div class="mt-6 grid grid-cols-2 gap-8">
        <div>
          <Image
            src={coolAsHack}
            alt=""
            class="aspect-video w-full rounded-lg border border-neutral-300 object-cover shadow-sm"
          />
          <div class="mt-4">
            <h3 class="text-xl font-semibold">Cool As Hack</h3>
            <p class="mt-2 text-xl leading-normal text-neutral-800">
              An all-day hackathon at Raspberry Pi HQ, where teens worked
              together to make novel and interesting projects. Part of Coolest
              Projects, an annual global competition for young people to make.
            </p>
            <p class="mt-2 text-neutral-600">April 2025 · with Raspberry Pi</p>
          </div>
        </div>
        <div>
          <Image
            src={scrapyardLon}
            alt=""
            class="aspect-video w-full rounded-lg border border-neutral-300 object-cover shadow-sm"
          />
          <div class="mt-4">
            <h3 class="text-xl font-semibold">Scrapyard London</h3>
            <p class="mt-2 text-xl leading-normal text-neutral-800">
              An all-day hackathon at tldraw HQ, where teens worked together to
              create the "scrappiest projects" alongside events from 60+ other
              cities worldwide in a global event by Hack Club.
            </p>
            <p class="mt-2 text-neutral-600">
              April 2025 · with Hack Club + tldraw
            </p>
          </div>
        </div>
      </div> */
      }
    </div>
  </div>

  <Footer />
</Layout>
