---
import Layout from "../layouts/Layout.astro";
import HeroBackground from "~/components/hero/Background.svelte";

import TitleDoodle from "~/assets/scribbles/events-events.svg";

import Navbar from "~/components/navbar/Navbar.svelte";
import Footer from "~/components/Footer.astro";

import Upcoming from "~/components/home/Upcoming.astro";
import Past from "~/components/events/Past.astro";
---

<Layout pageTitle="Events">
  <Navbar client:load />

  <div class="relative isolate bg-amber-200 pt-20">
    <HeroBackground color="amber" client:idle />
    <div class="mx-auto max-w-7xl px-8 py-16 text-center">
      <h1 class="font-satoshi text-5xl font-black tracking-tighter sm:text-6xl">
        <span class="relative isolate">
          Events
          <TitleDoodle
            class="absolute inset-x-0 bottom-0 -z-10 h-auto w-full translate-x-0.5"
          />
        </span>
      </h1>
    </div>
  </div>

  <div class="divide-y divide-neutral-300 *:even:bg-neutral-50">
    <Upcoming color="amber" hideViewMore />
    <Past />
  </div>

  <Footer />
</Layout>
