---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import dayjs from "~/lib/dayjs";

import Layout from "../layouts/Layout.astro";

import LuArrowRight from "~/assets/icons/LuArrowRight.svg";
import LuArrowDown from "~/assets/icons/LuArrowDown.svg";

import TogetherDoodle from "~/assets/scribbles/index-together.svg";
import MissionDoodle from "~/assets/scribbles/index-mission.svg";

import hero from "~/assets/images/hero-scrapyard-cambridge.jpg";

import Card from "~/components/cards/Card.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/header/Header.astro";
import HeroTitle from "~/components/header/HeroTitle.svelte";
import EventCard from "~/components/cards/EventCard.astro";
import PartnersMarquee from "~/components/partners/PartnersMarquee.svelte";

const partners = await getCollection("partners");

const futureEvents = await getCollection("events", (item) =>
  dayjs(item.data.startDate).isAfter(dayjs()),
).then((items) =>
  items.sort((a, b) =>
    dayjs(a.data.startDate).isBefore(dayjs(b.data.startDate)) ? -1 : 1,
  ),
);
---

<Layout>
  <Header color="red" showCoverImage>
    <HeroTitle client:idle />
    <p class="mx-auto mt-4 max-w-3xl text-xl text-balance">
      We support and run hackathons for teens, and create safe spaces where
      young coders can thrive, <span class="relative font-semibold">
        together.
        <TogetherDoodle class="absolute inset-x-0 -bottom-1.5 h-auto w-full" />
      </span>
    </p>
    <div class="mt-6 flex gap-4">
      <a
        href="/donate"
        class="flex h-12 items-center gap-2 rounded-full bg-red-800 px-6 text-lg font-semibold text-white shadow-sm transition hover:bg-red-900"
      >
        <span>Donate</span>
      </a>
      <a
        href="#events"
        class="flex h-12 items-center gap-2 rounded-full border-2 border-red-800 px-6 text-lg font-semibold text-red-800 backdrop-blur-xs transition hover:bg-red-800 hover:text-white"
      >
        <span>See our events</span>
        <LuArrowDown
          class="size-4 transition-transform group-hover:translate-x-0.5"
          stroke-width={3}
        />
      </a>
    </div>
  </Header>
  <div class="mx-auto max-w-7xl space-y-12 p-8">
    <Card title="Our mission">
      <h2 slot="title" class="font-satoshi text-3xl font-bold">
        Our <span class="relative isolate">
          mission
          <span class="absolute -inset-x-1.5 -bottom-0.5 -z-10">
            <MissionDoodle class="h-auto w-full" />
          </span>
        </span>
      </h2>
      <div class="text-xl leading-normal text-neutral-800">
        <p>
          Hackathons are social coding events, where people can get together,
          make new friends, and work on amazing projects, no matter their skill
          level. That’s what we’re all about.
        </p>
        <p class="mt-3">
          Our purpose is to support student-led hackathons - where young coders
          have a safe space to learn and thrive together. A space just for them,
          run by them.
        </p>
        <p class="mt-3">Like the idea? We’d love your help.</p>
        <div class="mt-1 flex items-center gap-4 text-xl">
          <a
            href="/donate"
            class="group flex items-center gap-2 font-semibold text-red-800 underline-offset-2 transition hover:text-red-900 hover:underline"
          >
            <span>Support our work</span>
            <LuArrowRight
              class="size-4 transition-transform group-hover:translate-x-0.5"
              stroke-width={3}
            />
          </a>
        </div>
      </div>
    </Card>
    <div id="events">
      <h2 class="font-satoshi text-center text-3xl font-bold">Coming up</h2>
      <div class="mt-6 space-y-6">
        {futureEvents.map((event) => <EventCard item={event} />)}
      </div>
      <div class="mt-6 flex justify-center">
        <a
          href="/events"
          class="group flex items-center gap-2 text-xl font-semibold text-red-800 underline-offset-2 transition hover:text-red-900 hover:underline"
        >
          <span>View past events</span>
          <LuArrowRight
            class="size-4 transition-transform group-hover:translate-x-0.5"
            stroke-width={3}
          />
        </a>
      </div>
    </div>
    <div class="text-center">
      <h2 class="font-satoshi text-3xl font-bold">Past sponsors</h2>
      <p class="mt-2 text-lg text-neutral-600">
        Amazing organisations we've worked with to bring our events to life.
      </p>
      <div class="mt-4">
        <PartnersMarquee partners={partners} client:idle />
      </div>
    </div>
  </div>
  <Footer />
</Layout>
