---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import TogetherDoodle from "~/assets/scribbles/index-together.svg";
import MissionDoodle from "~/assets/scribbles/index-mission.svg";

import hero from "~/assets/images/hero-scrapyard-cambridge.jpg";

import daydreamBanner from "~/assets/images/daydream/banner.png";
import daydreamLogo from "~/assets/images/daydream/temp-logo.png";

import Card from "~/components/Card.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/header/Header.astro";
---

<Layout>
  <Header color="red">
    <h1 class="font-satoshi text-8xl font-black tracking-tighter">
      We are <span class="text-red-800">makers_</span>
    </h1>
    <p class="mx-auto mt-4 max-w-3xl text-2xl text-balance">
      We support and run hackathons for teens, and create safe spaces where
      young coders can thrive, <span class="relative font-semibold">
        together.
        <TogetherDoodle class="absolute inset-x-0 -bottom-1.5 h-auto w-full" />
      </span>
    </p>
    <div class="mt-6 flex justify-center gap-4">
      <button
        class="flex h-12 items-center rounded-full bg-red-800 px-6 text-lg font-semibold text-white shadow-sm transition hover:bg-red-900"
      >
        Donate
      </button>
      <button
        class="flex h-12 items-center rounded-full border-2 border-red-800 px-6 text-lg font-semibold text-red-800 backdrop-blur-xs transition hover:bg-red-800 hover:text-white"
      >
        See our events
      </button>
    </div>

    <div slot="after-header" class="relative h-96">
      <Image
        src={hero}
        alt="A large group of teenagers stood in front of the Raspberry Pi Foundation office"
        class="h-full w-full object-cover object-center"
      />
      <div
        class="absolute top-4 right-4 flex h-7 items-center rounded-full bg-black/50 px-4 text-white backdrop-blur-sm"
      >
        <span class="text-xs text-white">
          Scrapyard Cambridge, at Raspberry Pi Foundation
        </span>
      </div>
    </div>
  </Header>
  <div class="mx-auto max-w-7xl space-y-12 p-8">
    <Card title="Our mission">
      <h2 slot="title" class="font-satoshi text-3xl font-bold">
        Our <span class="relative isolate">
          mission
          <span class="absolute -inset-x-1.5 -bottom-0.5 -z-10">
            <MissionDoodle class="h-auto w-full" />
          </span>
        </span>
      </h2>
      <div class="text-xl leading-normal text-neutral-800">
        <p>
          Hackathons are social coding events, where people can get together,
          make new friends, and work on amazing projects, no matter their skill
          level. That’s what we’re all about.
        </p>
        <p class="mt-3">
          Our purpose is to support student-led hackathons - where young coders
          have a safe space to learn and thrive together. A space just for them,
          run by them.
        </p>
        <p class="mt-3">Like the idea? We’d love your help.</p>
        <div class="mt-1 flex items-center gap-4 text-xl">
          <span class="font-semibold text-red-800">Volunteer</span>
          <span class="font-semibold text-red-800">Support us</span>
        </div>
      </div>
    </Card>
    <div>
      <h2 class="font-satoshi text-center text-3xl font-bold">Coming up</h2>
      <div class="mt-6 space-y-6">
        <div
          class="relative isolate overflow-clip rounded-xl border border-neutral-300 bg-white shadow-sm"
        >
          <Image src={daydreamBanner} alt="" class="absolute inset-0 -z-10" />
          <div
            class="grid grid-cols-2 gap-8 bg-gradient-to-l from-[#C6E9FB] via-[#C6E9FB] p-8"
          >
            <div>
              <Image src={daydreamLogo} alt="" class="h-auto max-w-full" />
            </div>
            <div>
              <h3 class="text-xl font-semibold">Daydream</h3>
              <p class="mt-2 text-xl leading-normal text-neutral-800">
                All-day game jams in London, Cambridge and Brighton. Work
                together to make amazing games, alongside young people in 100+
                cities worldwide.
              </p>
              <p class="mt-2 text-neutral-600">
                27th-28th September 2025 · with Hack Club
              </p>

              <button
                class="mt-4 flex h-10 items-center rounded-full bg-cyan-800 px-5 font-semibold text-white shadow-sm transition hover:bg-cyan-900"
              >
                Register
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6 flex justify-center">
        <p class="text-xl font-semibold text-red-800">View past events</p>
      </div>
    </div>
  </div>
  <Footer />
</Layout>
