---
import Layout from "../layouts/Layout.astro";

import Navbar from "~/components/navbar/Navbar.svelte";
import HomeHero from "~/components/home/Hero.astro";
import Footer from "~/components/Footer.astro";

import Upcoming from "~/components/home/Upcoming.astro";
import Mission from "~/components/home/Mission.astro";
import Impact from "~/components/home/Impact.astro";
import Partners from "~/components/home/Partners.astro";
---

<Layout pageTitle="Home">
  <Navbar client:load />

  <HomeHero />

  <div class="divide-y divide-neutral-300 *:even:bg-neutral-50">
    <Upcoming />
    <Mission />
    <Impact />
    <Partners />
  </div>

  <Footer />
</Layout>
