---
import Layout from "../layouts/Layout.astro";
import HeroBackground from "~/components/hero/Background.svelte";

import Navbar from "~/components/navbar/Navbar.svelte";
import Footer from "~/components/Footer.astro";

import Who from "~/components/parents/Who.astro";
import Safeguarding from "~/components/parents/Safeguarding.astro";
import Contact from "~/components/parents/Contact.astro";
---

<Layout pageTitle="Info for parents">
  <Navbar client:load />

  <div class="relative isolate bg-neutral-200 pt-20">
    <HeroBackground
      color="neutral"
      class="[clip-path:inset(0_0_1.5rem_0)]"
      client:idle
    />
    <div class="mx-auto max-w-7xl px-8 py-16 text-center">
      <h1 class="font-satoshi text-5xl font-black tracking-tighter sm:text-6xl">
        Info for parents
      </h1>
    </div>
  </div>

  <div class="divide-y divide-neutral-300 *:even:bg-neutral-50">
    <Who />
    <Safeguarding />
    <Contact />
  </div>
  <Footer />
</Layout>
