---
import LuArrowRight from "~/assets/icons/LuArrowRight.svg";
---

<section>
  <div class="mx-auto max-w-7xl p-8 text-center">
    <h2 class="font-satoshi text-2xl font-bold sm:text-3xl">Our mission</h2>
    <div
      class="mx-auto mt-4 max-w-3xl leading-normal text-neutral-800 sm:text-lg lg:text-xl"
    >
      <p class="text-pretty">
        Hackathons are social coding events, where people can get together, make
        new friends, and work on amazing projects, no matter their skill level.
        That's what we're all about.
      </p>
      <p class="mt-3 text-pretty">
        Our purpose is to support student-led hackathons - where young coders
        have a safe space to learn and thrive together. A space just for them,
        run by them.
      </p>
      <p class="mt-3 text-pretty">Like the idea? We'd love your help.</p>
      <div class="mt-1 flex items-center justify-center gap-4">
        <a
          href="/donate"
          class="group flex items-center gap-2 font-semibold text-red-800 underline-offset-2 transition hover:text-red-900 hover:underline"
        >
          <span>Support us</span>
          <LuArrowRight
            class="size-3 transition-transform group-hover:translate-x-0.5 sm:size-4"
            stroke-width={3}
          />
        </a>
      </div>
    </div>
    <p class="font-cursive mt-4 -rotate-1 text-xs text-neutral-500 sm:text-sm">
      - Matthew, David, & the Youthacks team
    </p>
  </div>
</section>
