---
import LuArrowRight from "~/assets/icons/LuArrowRight.svg";
---

<section>
  <div class="mx-auto max-w-7xl p-8 text-center">
    <h2 class="font-satoshi text-2xl font-bold sm:text-3xl">Donate</h2>
    <div
      class="mx-auto mt-4 max-w-3xl leading-normal text-neutral-800 sm:text-lg lg:text-xl"
    >
      <p class="text-pretty">
        Our events are always free to attend for young people, and it's people
        like you that make that possible. If you're a company or individual who
        wants to have a meaningful impact on the next generation of makers, we'd
        love for you to get involved.
      </p>

      <a
        href="mailto:donate@youthacks.org"
        class="group mx-auto mt-1 flex w-fit items-center gap-2 font-semibold text-cyan-800 underline-offset-2 transition hover:text-cyan-900 hover:underline"
      >
        <span>donate@youthacks.org</span>
        <LuArrowRight
          class="size-3 transition-transform group-hover:translate-x-0.5 sm:size-4"
          stroke-width={3}
        />
      </a>
    </div>
  </div>
</section>
