---
import LuArrowRight from "~/assets/icons/LuArrowRight.svg";
---

<section>
  <div class="mx-auto max-w-7xl p-8 text-center">
    <h2 class="font-satoshi text-2xl font-bold sm:text-3xl">
      Staying in touch
    </h2>
    <div
      class="mx-auto mt-4 max-w-3xl leading-normal text-neutral-800 sm:text-lg lg:text-xl"
    >
      <p class="text-pretty">
        Our social media accounts are regularly updated throughout events, so go
        give us a follow on <a
          href="https://www.facebook.com/people/Youthacks/61575504317362/"
          target="_blank"
          class="group font-semibold text-neutral-700 underline-offset-2 transition hover:text-neutral-900 hover:underline"
          >Facebook</a
        >
        or
        <a
          href="https://www.instagram.com/youthacks"
          target="_blank"
          class="group font-semibold text-neutral-700 underline-offset-2 transition hover:text-neutral-900 hover:underline"
          >Instagram</a
        > to see what we're up to!
      </p>
      <p class="mt-3 text-pretty">
        If you've got any questions, we'd love to hear from you!
      </p>

      <a
        href="mailto:hello@youthacks.org"
        class="group mx-auto mt-1 flex w-fit items-center gap-2 font-semibold text-neutral-700 underline-offset-2 transition hover:text-neutral-900 hover:underline"
      >
        <span>hello@youthacks.org</span>
        <LuArrowRight
          class="size-3 transition-transform group-hover:translate-x-0.5 sm:size-4"
          stroke-width={3}
        />
      </a>
    </div>
  </div>
</section>
