---
import LuArrowRight from "~/assets/icons/LuArrowRight.svg";
---

<section>
  <div class="mx-auto max-w-7xl p-8 text-center">
    <h2 class="font-satoshi text-2xl font-bold sm:text-3xl">Safeguarding</h2>
    <div
      class="mx-auto mt-4 max-w-3xl leading-normal text-neutral-800 sm:text-lg lg:text-xl"
    >
      <p class="text-pretty">
        We want all young people attending our events to be safe and protected
        throughout. All our staff are DBS checked, and children are supervised
        at all times.
      </p>
    </div>
  </div>
</section>
