---
import LuArrowRight from "~/assets/icons/LuArrowRight.svg";
---

<section>
  <div class="mx-auto max-w-7xl p-8 text-center">
    <h2 class="font-satoshi text-2xl font-bold sm:text-3xl">Who are we?</h2>
    <div
      class="mx-auto mt-4 max-w-3xl leading-normal text-neutral-800 sm:text-lg lg:text-xl"
    >
      <p class="text-pretty">
        We're Youthacks - we work with partners like Hack Club and the Raspberry
        Pi Foundation to support and run hackathons for teens all across the UK.
      </p>
      <p class="mt-3 text-pretty">
        We've run some amazing events in the past, including Cool As Hack,
        Scrapyard, and Counterspell.
      </p>

      <a
        href="/events"
        class="group mx-auto mt-1 flex w-fit items-center gap-2 font-semibold text-neutral-700 underline-offset-2 transition hover:text-neutral-900 hover:underline"
      >
        <span>See past events</span>
        <LuArrowRight
          class="size-3 transition-transform group-hover:translate-x-0.5 sm:size-4"
          stroke-width={3}
        />
      </a>
    </div>
  </div>
</section>
