---
import { cva, type VariantProps } from "cva";
import Navbar from "./Navbar.svelte";
import HeaderBackground from "./HeaderBackground.svelte";

const header = cva({
  variants: {
    color: {
      red: "bg-red-200",
      amber: "bg-amber-200",
      cyan: "bg-cyan-200",
    },
  },
  defaultVariants: {
    color: "red",
  },
});

interface Props extends VariantProps<typeof header> {}
const { color } = Astro.props;
---

<Navbar
  links={[
    { label: "Events", href: "/events" },
    { label: "Support us", href: "/donate" },
    { label: "Contact", href: "/contact" },
  ]}
  client:load
/>
<div
  class={header({
    color,
    // class: "bg-dots",
  })}
>
  <div class="relative isolate">
    {/* Navbar padding */}
    <div class="h-16"></div>

    <HeaderBackground color={color} client:idle />
    <header class="p-8 py-16 text-center">
      <slot />
    </header>
  </div>
  <slot name="after-header" />
</div>
