---
import Logo from "~/assets/logos/youthacks-logo.svg";

import SiFacebook from "~/assets/icons/SiFacebook.svg";
import SiInstagram from "~/assets/icons/SiInstagram.svg";
import SiTiktok from "~/assets/icons/SiTiktok.svg";
import SiGithub from "~/assets/icons/SiGithub.svg";

import ContactButton from "~/components/header/ContactModal.svelte";

const FOOTER_LINKS = [
  { label: "Our events", href: "/events" },
  { label: "Info for parents", href: "#" },
  { label: "Support us", href: "/donate" },
  { label: "Contact", href: "#contact" },
];

const FOOTER_SOCIALS = [
  {
    icon: SiFacebook,
    href: "https://www.facebook.com/people/Youthacks/61575504317362/",
  },
  { icon: SiInstagram, href: "https://www.instagram.com/youthacks" },
  { icon: SiTiktok, href: "https://www.tiktok.com/@youthacks" },
  { icon: SiGithub, href: "https://github.com/youthacks" },
];
---

<footer class="bg-footer-dots bg-neutral-900 text-white">
  <div class="mx-auto max-w-7xl p-8">
    <div class="grid grid-cols-3 gap-8">
      <div>
        <Logo class="h-12 w-auto invert" />
      </div>
      <div>
        <h2 class="font-satoshi text-2xl font-bold">This site</h2>
        <div class="mt-2 space-y-1">
          {
            FOOTER_LINKS.map(({ label, href }) =>
              href === "#contact" ? (
                <ContactButton
                  client:load
                  class="block max-w-fit text-lg text-neutral-400 underline-offset-2 transition hover:text-white hover:underline"
                >
                  {label}
                </ContactButton>
              ) : (
                <a
                  href={href}
                  class="block max-w-fit text-lg text-neutral-400 underline-offset-2 transition hover:text-white hover:underline"
                >
                  {label}
                </a>
              ),
            )
          }
        </div>
      </div>
      <div>
        <h2 class="font-satoshi text-2xl font-bold">Social media</h2>
        <div class="mt-2 flex flex-wrap gap-2.5">
          {
            FOOTER_SOCIALS.map(({ icon: Icon, href }) => (
              <a
                href={href}
                target="_blank"
                class="group grid size-10 place-items-center rounded-full border border-neutral-700 transition hover:bg-neutral-800"
              >
                <Icon class="size-4 text-white transition group-hover:scale-110" />
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div class="mt-8 flex justify-between border-t border-neutral-800 pt-4">
      <div class="text-sm text-neutral-500 italic">
        <p>© 2025 Youthacks. Registering for UK charity status.</p>
        <p>Fiscally sponsored by Hack Club, a 501(c)(3) nonprofit in the US.</p>
      </div>
      <div class="text-right text-sm text-neutral-500 italic">
        <p>photography by Edward Hesketh</p>
      </div>
    </div>
  </div>
</footer>
