---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

interface Props {
  pageTitle?: string;
  description?: string;
}
const { pageTitle, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle ? `${pageTitle} | Youthacks` : "Youthacks"}</title>
    <meta
      name="description"
      content={description ||
        "We support and run hackathons for teens, and create safe spaces where young coders can thrive, together."}
    />

    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-satoshi" preload />
    <Font cssVariable="--font-cursive" />

    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
